@model NPress.Web.Models.PostViewModel
@{
    ViewBag.Title = Model.Title;
}

<div class="blog-post">
    <h2 class="blog-post-title">@Model.Title</h2>
    <p class="blog-post-meta">@Model.PublishDateTime.ToString() by <a href="#">-----</a></p>
    @Model.Content.ToHtmlContent()
</div>
