@model NPress.Web.Areas.Admin.Models.PostIndexViewModel
@{
    ViewData["Title"] = "Posts";
}

@foreach(var post in Model.Posts)
{
    <p>
        @post.Title
    </p>
}

@if(Model.Posts.Count() > 0 || ViewContext.HttpContext.Request.Query["before"] != null)
{
    <nav>
        <ul class="pager">
            @if(ViewContext.HttpContext.Request.Query["before"] != null)
            {
                <li>
                    <a href="javascript:history.back()">Previous</a>
                </li>
            }
            @if(Model.Posts.Count() == Model.PageSize)
            {
                <li>
                    <a asp-action="index" asp-route-before="@Model.Before" asp-route-pageSize="@Model.PageSize">Next</a>
                </li>
            }
        </ul>
    </nav>
}
