@model NPress.Web.Models.PostViewModel

<form asp-antiforgery="true" asp-action="" method="post">
    <div class="form-group">
        <label asp-for="Title"></label>
        <input asp-for="Title" type="text" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="Slug"></label>
        <input asp-for="Slug" type="text" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="Content"></label>
        <textarea asp-for="Content" class="form-control"></textarea>
    </div>
    <div class="checkbox">
        <label>
            <input asp-for="Published" type="checkbox" />
            @Html.DisplayNameFor(m => m.Published)
        </label>
    </div>
    <div class="form-group">
        <label asp-for="PublishDateTime"></label>
        <input asp-for="PublishDateTime" type="text" class="form-control" />
    </div>
    <button type="submit" class="btn btn-default">Submit</button>
</form>
